/data/
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.sqlite-journal
*.sqlite.lock
*.backup.lock
*.sha256
*.apkg
*.test
coverage*.out
*.imports/

.env
.env.*
!.env.example

/bin/
/goi
/server
/backup
/devdata

.DS_Store
._*
Thumbs.db
.idea/
.vscode/
